
.mui-segmented-control
{
    font-size: 15px;
    font-weight: 400;

    position: relative;

    display: table;
    overflow: hidden;

    width: 100%;

    table-layout: fixed;

    border: 1px solid #007aff;
    border-radius: 3px;
    background-color: transparent;

    -webkit-touch-callout: none;
}
.mui-segmented-control.mui-scroll-wrapper
{
    height: 38px;
}
.mui-segmented-control.mui-scroll-wrapper .mui-scroll
{
    width: auto;
    height: 40px;

    white-space: nowrap;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item
{
    display: inline-block;

    width: auto;
    padding: 0 20px;

    border: 0;
}
.mui-segmented-control .mui-control-item
{
    line-height: 38px;

    display: table-cell;
    overflow: hidden;

    width: 1%;
    background-color: #fff;

    -webkit-transition: background-color .1s linear;
            transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
    border-color: #fff;
    border-left: 1px solid #fff;
}
.mui-segmented-control .mui-control-item:first-child
{
    border-left-width: 0;
}
.mui-segmented-control .mui-control-item.mui-active
{
    color: #fff;
    background-color: #007aff;
}
.mui-segmented-control.mui-segmented-control-inverted
{
    width: 100%;

    border: 0;
    border-radius: 0;
}







/*////////////////////////////*/
.mui-bar {
    background-color: #444a59;
}
.mui-bar a {
	color: #fff;
}
.mui-segmented-control {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    display: table;
    overflow: hidden;
    width: 40%;
    table-layout: fixed;
    border: 1px solid #fff;
    border-radius: 3px;
    /*background-color: red;*/
    -webkit-touch-callout: none;
}
.mui-bar .mui-segmented-control {
    top: 7px;
    width: 60%;
    margin: 0 auto;
}


.mui-segmented-control .mui-control-item:first-child
{
    border-left-width: 0;
}
.mui-segmented-control .mui-control-item {
    line-height: 29px;
    display: table-cell;
    overflow: hidden;
    width: 1%;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    border-color: #007aff;
    border-left: 1px solid #fff;
    
    background-color: #007aff;
}
.mui-segmented-control .mui-control-item.mui-active
{
    
}

.mui-segmented-control .mui-control-item.mui-yijiactive
{
    color: #007aff;
    background-color: #fff;
}



.mainContainer {
	height: 300px;
	width: 100%;
}


.bottomBar01 {
	width: 100%;
    position: fixed;
    height: 55px;
    bottom: 0;
    z-index: 998;
    left: 15px;
    background-color: #444a59;
}
/*.bottomBar01 {
    position: absolute;
    height: 40px;
    bottom:-55px;
    z-index: 998;
    left:0px;
    width: 100%;
	
}*/

.bottomBar01 a
{
	color: white;
}

.bottomBar01 .bottomBar01_left
{
	height: 100%;
	width: 80px;
	font-size: 14px;
	line-height: 44px;
	position: absolute;
	text-align: center;
	color: white;
	left: 0;
}
.bottomBar01 .bottomBar01_left .bottomBar01_left-radius{
	position: absolute;
	right:6px;
	top: 6px;
	width: 8px;
	height: 8px;
	border-radius:100%;
	background-color: red;
	display: none;
}
.bottomBar01 .bottomBar01_right
{
	height: 100%;
	width: 80px;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	position: absolute;
	right: 0;
	color: white;
	float: right;
}

.mui-bar-tab .mui-tab-item {
    display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #red;
    font-size: 14px;
}

.mui-bar-tab .mui-tab-item .mui-active {
    
    color: #fff;
}


